.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 9px;
  object-fit: contain; /* going to keep its aspect ratio */
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_search {
  display: flex;
  flex: 1; /*stretches as big as possible*/
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_optionLineOne {
  font-size: 10px;
  padding: 1px;
}
.header_optionLineTwo {
  font-size: 12px;
  font-weight: 700;
}

.header_option {
  display: flex;
  color: white;
  flex-direction: column;
  margin: 5px;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 10px;
}
